/* Light Mode */
:root {
    /* --primary-color: #F5E6D0; */
    --secondary-color: #382D01;
    --font-color: black;
    --alt-font-color: purple;
    --bg-color: #F5E6D0;
    --heading-color: #D6D6DD;
    
}

/* Dark Mode */
[data-theme="dark"] {
    /* --primary-color: #0a192f; */
    --secondary-color: #c7d2fe;
    --font-color: white;
    --alt-font-color: purple;
    --bg-color: #0a192f;
    --heading-color: #292922;
    
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);  
  font-family: 'Lato', sans-serif;
}

main {
  
}


h1 {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Maison Neue', sans-serif;
    color: var(--secondary-color);
    margin-left: 0.625rem;
    margin-top: 0.25rem;
    float: left;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
    
}

.contentSection {
  /* TODO fix weird behavior with home h2 margin-left */
  margin-left: 0.625rem;
}

/* Top navbar css is reused across all pages. */
#topNavigation ul {
    list-style: none;
    display: flex;
    grid-gap: 0.5rem;
    justify-content: flex-end;
}
#topNavigation ul li {
    display: inline-block;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

/*Simple css to style it like a toggle switch*/
/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer is reused across all pages */

footer section {
    display: flex;  
    flex-direction: column; 
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0.5rem;
}

@media (min-width: 480px) {
    footer:ul {
      grid-auto-flow: column;
    }
}

footer a {
    color: var(--alt-font-color);
    font-weight: bold;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);

}

footer li {
    margin: 0 0.5rem;
}

footer li p {
    text-align: center;
}
  
footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  

